{% extends 'base.html' %}
{% block breadcrumb %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('cats') }}">CATS</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dodaj wpis</li>
        </ol>
    </nav>

{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Cats FORM!!!</h1>
    </div>
{% endblock %}